@{
    var user = await UserManager.GetUserAsync(User);
}

@if (user != null)
{
    <div class="side-menu">
        <div class="profile-info">
            <div class="profile-picture">
                <img src="~/images/uploads/profiles/@user.ProfileImage" alt="@user.FirstName @user.LastName" />

                <form enctype="multipart/form-data" method="post" asp-action="UploadProfileImages" asp-controller="Account">
                    <input id="fileUploader" type="file" name="file" hidden />
                    <label for="fileUploader" class="refresh-btn"><img class="refresh-icon" src="~/images/icons/refresh-icon.svg"></label>
                </form>
            </div>
            <h5>@user.FirstName @user.LastName</h5>
            <p>@user.Email</p>
        </div>
        <div class="menu-buttons">
            <a class="btn-theme btn-menu"><i class="fa-regular fa-gear"></i>Account Details</a>
            <a class="btn-theme btn-menu"><i class="fa-regular fa-lock"></i>Security</a>
            <a class="btn-theme btn-menu"><i class="fa-regular fa-bookmark"></i>Saved Courses</a>
            <a asp-action="SignOut" asp-controller="Auth" class="btn-theme btn-menu"><i class="fa-solid fa-arrow-right-from-bracket fa-flip-horizontal"></i>Sign Out</a>
        </div>
    </div>
}